* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}

/* HEADER */
header {
    background-color: #1e3a5f;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

/* NAV */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* CONTENEDOR */
.contenedor {
    display: flex;
    max-width: 1100px;
    margin: 30px auto;
    gap: 20px;
    padding: 0 15px;
}

/* MAIN */
main {
    flex: 3;
}

article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

article h3 {
    color: #1e3a5f;
    margin-bottom: 10px;
}

article p {
    font-size: 16px;
    line-height: 1.6;
}

article img {
    width: 100%;
    margin: 15px 0;
    border-radius: 10px;
}

/* NOTICIA DESTACADA */
.destacada {
    font-size: 18px;
    border: 2px solid #1e3a5f;
}

/* ASIDE */
aside {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

aside ul {
    list-style: none;
}

aside ul li {
    margin: 10px 0;
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

.noticias {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columnas */
    gap: 20px; /* espacio entre noticias */
}

.noticias article {
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column;
    }
}